<div class="container fixed">
                <div class="page-header">
                   
                  <h1>Instagram Popular</h1>
                </div>
                <div ng-controller="InstagramCtrl">
                    <div  class="row">
                    <div ng-repeat='i in instagramResult.data'class="span4">
                        <ul>
                            <li> <img class="img-polaroid" ng-src={{i.images.standard_resolution.url}} alt="insta image">
                                <ul>
                                    <li><h3>{{i.user.username}}</h3></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                      <div class="page-header">
                  <h1>Tumblr Popular</h1>
                </div>
                <div ng-controller="TumblrCtrl" class="row">
                    <div ng-repeat="i in tumblrResult.response"class="span4">
                        <ul>
                            <li> <img class="img-polaroid" ng-src={{i.photos.0.original_size.url}} alt="tumblr">
                                <ul>
                                    <li>
                                        <p class="tumP">{{i.blog_name}}</p></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
