
<div class="container fixed">
    <div class="page-header">
        <h1>Main Page</h1>
    </div>
    <div ng-controller="iconCtrl" class="row">
        <div ng-repeat='image in images' class="span3">
            <ul>
                <li><a href="index.html#/index.html/{{image.description}}"><img ng-src="{{image.image}}" alt="{{image.description}}"></a>
                    <ul>
                        <li><p>{{image.description}}</p></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>