
<div ng-controller="InAppBrowserController">
                <h1>In App Browser</h1>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/notifications">Notifications</a></li>
                    <li class="active"><a href="#/inAppBrowser">In App Browser</a></li>
                </ul>

                <input type="text" ng-model="url" class="span12"/>
                <div class="btn-group btn-group-vertical">
                    <open-external url="url"
                                   exit="closeBrowser()"
                                   load-start="loadStart()"
                                   load-stop="loadStop()"
                                   load-error="loadError()">Open Google</open-external>
                </div>

                <h1>Actions</h1>
                <ol>
                    <li ng-repeat="action in actions">{{action}}</li>
                </ol>
            </div>
	
